# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9438f4bb3121b4089f8f3e15e4977be675cde710f0ef68d227912df3caf5788dad062cff57b744d6a51184f449fb05f68f55629c2fef7053e2ffd13a8f7b8882

test:
  secret_key_base: b35e34bf8d8cc0e971a033fd76ed88a46d92f926eb0b60b6f53f50f52654d3a8eba89a6d4422f408514e3bc68f6462b9d3dfc1ca20be306ec21c88d9f2638e33

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
